@import '../styles/mixins/icons';

.e-pagination {
  display: flex; align-items: center; font-size: 12px;
  &-next,
  &-prev { font-family: Tahoma; font-size: 12px; display: flex; align-items: center; cursor: pointer; }
  &-next {
    margin-left: 43px;
    &:after { @include long-arrow-right-icon(#1f2532); content: ''; width: 13px; height: 13px; display: block; margin-left: 10px; }
  }
  &-prev {
    margin-right: 43px;
    &:before { @include long-arrow-left-icon(#1f2532); content: ''; width: 13px; height: 13px; display: block; margin-right: 10px; }
  }
  &-next.is-disabled,
  &-prev.is-disabled { cursor: not-allowed; color: #c1c1c1; }
  &-next.is-disabled:after { @include long-arrow-right-icon(#c1c1c1); }
  &-prev.is-disabled:before { @include long-arrow-left-icon(#c1c1c1); }
  &-select-count { margin: 0 5px; }
  & .e-select-drop-down {
    width: 300px;
  }
}
