@import '../styles/mixins/icons';

.e-checkbox {
  box-sizing: border-box; width: 16px; height: 16px; background: #fff; border: solid 1px #e0e0e0; border-radius: 2.7px; text-indent: -99999px; cursor: pointer; display: inline-block; vertical-align: middle;
  &.is-checked { @include check-icon($color: #a3bd49); }
  &.is-radio { border-radius: 100px; }

  &.is-related-products-check {
    @include related-products-icon(#c1c1c1); border: 0; margin: 0 auto;
    &.is-checked { @include related-products-icon(#ff7e00); }
  }
}
