@import '../styles/mixins/icons';

.e-switch-tooltip {
   background: #ffffcc; position: relative; margin-top: -5px; padding: 26px 20px; width: 308px; border-left: 3px solid #e2e288; border-top: 1px solid #e0e0e0; box-sizing: border-box; color: #ba8c4a; font-size: 13px;
  &-close {
    @include close-icon(#ba8c4a); width: 12px; height: 12px; position: absolute; bottom: 10px; right: 10px; cursor: pointer; opacity: 0.4; transition: opacity 0.4s;
    &:hover { opacity: 1; }
  }
  &:after { content: ''; position: absolute; top: -10px; left: 220px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px; border-color: transparent transparent #ffffcc; }
  &:before { content: ''; position: absolute; top: -12px; left: 218px; width: 0; height: 0; border-style: solid; border-width: 0 12px 12px; border-color: transparent transparent #e0e0e0; }
}
