@import '../styles/mixins/icons';

.e-tree {
  width: 100%; max-height: 100%; box-sizing: border-box; overflow: auto;
  &-list {
    margin: 0; padding: 0; width: 100%;
    .e-tree-list {
      display: none;
      .e-tree-item {
        padding: 0 0 0 60px; font-weight: normal; border-bottom: solid 1px #e0e0e0 !important;
        &:before { position: absolute; content: ''; width: 10px; height: 10px; box-sizing: border-box; border-bottom: solid 1px #e0e0e0; border-left: solid 1px #e0e0e0; left: 40px; top: 11px; }
      }
    }
    .e-tree-list .e-tree-list .e-tree-item {
      padding: 0 0 0 90px;
      &:before { left: 70px; }
    }
    .e-tree-list .e-tree-list .e-tree-list .e-tree-item {
      padding: 0 0 0 120px;
      &:before { left: 100px; }
    }
  }
  &-item { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; cursor: pointer; box-sizing: border-box; border-bottom: solid 1px #e0e0e0; font-size: 12px; line-height: 34px; font-weight: bold; padding: 0 40px 0 30px;
    &:hover { background: #f8f8f8; }
    &.is-active { background: #e0e0e0; }
    &.is-open {
      .e-tree-arrow { transform: rotate(90deg); }
      + .e-tree-list { display: block; }
    }
    &:after { content: attr(data-count); padding: 0 0 0 2px; vertical-align: top; }
  }
  &-item-title { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 240px; vertical-align: top; }
  &-item-wrapper:last-child .e-tree-item:last-child { border: 0; }
  &-arrow {
    position: absolute; left: 0; top: 0; width: 30px; height: 34px;
    &:after { @include angle-right-icon(); content: ''; position: absolute; width: 14px; height: 14px; top: 10px; left: 8px; }
  }
}
