@import '../styles/mixins/icons';

.e-tree {
  width: 100%; max-height: 100%; box-sizing: border-box; overflow: auto; min-height: 200px;
  &-list {
    margin: 0; padding: 0; width: 100%;
    .e-tree-list {
      max-height: 0; transition: max-height .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      .e-tree-item {
        padding: 0 0 0 60px; font-weight: normal; border-bottom: solid 1px #e0e0e0 !important;
        &:before { position: absolute; content: ''; width: 10px; height: 10px; box-sizing: border-box; border-bottom: solid 1px #e0e0e0; border-left: solid 1px #e0e0e0; left: 40px; top: 11px; }
      }
    }
    .e-tree-list .e-tree-list .e-tree-item {
      padding: 0 0 0 90px;
      &:before { left: 70px; }
    }
    .e-tree-list .e-tree-list .e-tree-list .e-tree-item {
      padding: 0 0 0 120px;
      &:before { left: 100px; }
    }
  }
  &-item {
    transition: background .5s; background: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; cursor: pointer; box-sizing: border-box; border-bottom: solid 1px #e0e0e0; font-size: 12px; line-height: 34px; font-weight: bold; padding: 0 70px 0 30px;
    &:hover {
      background: #f8f8f8;
      .e-tree-settings { visibility: visible; }
    }
    &.is-active {
       background: #e0e0e0;
       .e-tree-settings { visibility: visible; }
    }
    &.is-move { opacity: .5; }
    &.is-open {
      .e-tree-arrow { transform: rotate(90deg); }
      + .e-tree-list { max-height: 2500px; }
    }
    &:after { content: attr(data-count); padding: 0 0 0 2px; vertical-align: top; }
    &.is-center > .e-tree-drag:before,
    &.is-bottom > .e-tree-drag:before,
    &.is-top > .e-tree-drag:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;  border-top: solid 2px #000; }
    &.is-bottom > .e-tree-drag:before { border-bottom: solid 2px #000; border-top: 0; }
    &.is-center > .e-tree-drag:before { border: solid 2px #000; }
  }
  &-item-title { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 210px; vertical-align: top; }
  &-item-wrapper:last-child .e-tree-item:last-child { border: 0; }
  &-arrow {
    position: absolute; left: 0; top: 0; width: 30px; height: 34px; transition: transform .5s;
    &:after { @include angle-right-icon(); content: ''; position: absolute; width: 14px; height: 14px; top: 10px; left: 8px; }
  }
  &-settings { @include gear-icon(#c1c1c1); width: 13px; height: 13px; position: absolute; top: 11px; right: 10px; visibility: hidden; }
  &-remove { color: #dc6263; }
  &-preview { opacity: .5; background: #f8f8f8; }
  &-layer { position: fixed; pointer-events: none; cursor: move; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; }
}
