.e-progress-circle {
  position: relative; width: 200px; height: 200px; display: flex; align-items: center; justify-content: center; margin: 20px auto 30px;
  &-box { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
  &-text { font-size: 40px; margin-right: -10px; }
  &-sumbol { font-size: 30px; }
}
