@import '../styles/mixins/icons';

@mixin cell-width($width) {
  max-width: #{$width}; min-width: #{$width}; width: #{$width};
}

.e-table {
  $root: &;
  box-sizing: border-box; border: 1px solid #e0e0e0; height: 100%; overflow-x: auto; overflow-y: hidden;
  &-wrapper { min-width: 100%; position: relative; height: 100%; display: inline-block; }
  &-header-cell {
    box-sizing: border-box; padding: 0 20px; font: 300 13px/1 'OpenSans'; text-align: left; color: #1f2532;
  }
  &-tr { display: flex; position: relative; background-color: #f8f8f8; border-bottom: 1px solid #e0e0e0; align-items: center; height: 40px; box-sizing: border-box; }
  &-body-tr {
    display: flex; border-bottom: 1px solid #e0e0e0; transition: background .5s; background: #fff;
    &:hover { background: #f8f8f8; }
    &:last-child {
      .e-table-cell-text + .cke,
      .e-table-cell-text { top: auto; bottom: 0; }
    }
    &:first-child .e-table-cell {
      border-top: 0;
      .e-table-cell-text + .cke,
      .e-table-cell-text { top: 0; bottom: auto; }
    }
    &.is-checked { background: rgba(163, 189, 73, .11); }
    &.is-new { background: #f3fbff; }
  }
  &-body { display: block; overflow-y: auto; overflow-x: hidden; width: 100%; height: calc(100% - 40px); }
  &-cell {
    cursor: pointer; outline: none; user-select: none; font-size: 12px; color: #1f2532; height: 80px; box-sizing: border-box; padding: 10px 20px; text-align: left; position: relative; display: flex; align-items: center;
    &:before { border: 1px solid rgba(255, 255, 255, 0); content: ''; transition: border .5s; z-index: 1; position: absolute; top: 0px; left: 0px; right: 0px; bottom: -2px; }
    &:hover {
      &:before { pointer-events: none; content: ''; border: solid 1px #e3b61c; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
      &:after { display: none; }
    }
    &.is-focus {
      &:before { content: ''; border: solid 1px #028dd8; position: absolute; top: 0px; left: 0px; right: 0px; bottom: -2px; }
      &:after { display: none; }
    }
    &.is-selected {
      &:before { content: ''; border: solid 1px #028dd8; position: absolute; top: 0px; left: 0px; right: 0px; bottom: -2px; }
      &:after { display: none; }
    }
    &.is-selected-to {
      &:before { content: ''; border: dashed 1px #028dd8; position: absolute; top: 0px; left: 0px; right: 0px; bottom: -2px; }
      &:after { display: none; }
    }
    &.is-required {
      &:before { content: ''; border: solid 1px #dc6263; position: absolute; top: 0px; left: 0px; right: 0px; bottom: -2px; }
      &:after { display: none; }
    }
    &:after { height: 50px; width: 1px; background-color: #e0e0e0; position: absolute; content: ''; right: -1px; top: 50%; margin-top: -25px; }
    &:last-child {
      &:after { width: 0; }
      #{$root} {
        &-cell-text.is-edit + .cke,
        &-cell-text.is-edit { right: 0; left: auto; }
      }
    }
    &:first-child #{$root} {
      &-cell-text.is-edit + .cke,
      &-cell-text.is-edit { right: auto; left: 0; }
    }
  }
  &-header-cell,
  &-cell {
    &.is-check { @include cell-width(60px); padding: 10px 14px 10px 30px; cursor: default; }
    &.is-description { @include cell-width(270px); }
    &.is-detailed-description {  @include cell-width(280px); }
    &.is-h1 { @include cell-width(180px); }
    &.is-name { @include cell-width(200px); }
    &.is-page-description {  @include cell-width(270px); }
    &.is-photo { @include cell-width(100px); }
    &.is-product-group { @include cell-width(200px); padding: 0; cursor: default; }
    &.is-tag-title { @include cell-width(240px); }
    &.is-url { @include cell-width(170px); }
    &.is-price { @include cell-width(155px); }
    &.is-exists { @include cell-width(110px); }
    &.is-check-related-products { @include cell-width(60px); }
  }
  &-header-cell {
    &.is-product-group {
      @include cell-width(200px);
      .e-table-header-title { padding-left: 20px }
    }
    &.is-check-related-products {
      position: relative;
      &:after { @include related-products-icon(); content: ''; position: absolute; width: 16px; height: 16px; left: 50%; top: 50%; transform: translate(-50%, -50%); }
    }
  }
  &.is-columns-5 #{$root} {
    &-header { background-color: #f8f8f8; }
    &-tr { width: calc(100% - 9px); }
    &-wrapper { width: 100%; }
    &-header-cell,
    &-cell {
      &.is-description { @include cell-width(calc((100% - 160px) / 3)); }
      &.is-name { @include cell-width(calc((100% - 160px) / 3)); }
      &.is-product-group { @include cell-width(calc((100% - 160px) / 3)); }
    }
  }
  &-cell-placeholder { color: #b4b5b8; }
  &-path-cell { padding: 20px; }
  &-path-text {
    box-sizing: border-box; max-width: 160px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 16px 0 0; display: inline-block; vertical-align: text-bottom; user-select: text;
    &.is-path-arrow {
      position: relative;;
      &:after { content: ''; position: absolute; @include angle-double-right-icon(); width: 12px; height: 12px; right: 0; }
    }
    &.is-last {
      padding: 0 28px 0 0;
      &:before { content: '...'; position: absolute; right: 0px; }
      &.is-path-arrow:after { right: 12px; }
    }
  }

  &-img { max-width: 60px; max-height: 60px; margin: 0 auto; }
  &-img-empty {
    width: 60px; height: 60px; box-sizing: border-box; border: 1px dashed; position: relative;
    &:after { @include camera-icon(); width: 17px; height: 15px; content: ''; position: absolute; top: 50%; left: 50%; margin: -7.5px 0 0 -8.5px; }
  }
  &-cell-text {
    overflow: hidden; text-overflow: ellipsis; max-height: 50px; user-select: text;
    + .cke,
    &.is-edit { font-size: 14px; padding: 20px; background: #fff; box-sizing: border-box; max-height: 150px; height: 150px; width: 380px; outline: none; z-index: 9; position: absolute; left: 0; top: 0; border: solid 1px #028dd8; }
    + .cke:after,
    &:after { content: attr(data-charactersLeft); position: absolute; right: 10px; bottom: 10px; font-size: 12px; }
    + .cke[data-charactersLeft='0']:after,
    &[data-charactersLeft='0']:after { color: #dc6263; }
    + .cke {
      width: 707px; padding: 0; border: 1px solid #b6b6b6; height: auto; max-height: 5000px;
      &:after { bottom: 4px; }
      .cke_top.cke_reset_all { padding-right: 2px; }
    }
  }
  &-price {
    &-old { text-decoration: line-through; color: #999; }
    &-expiration-date { color: #63a745 }
  }
  &-header-title {
    position: relative; display: inline-block; vertical-align: middle;
    &.is-filter {
      cursor: pointer; padding-right: 20px;
      &:after { @include angle-down-icon(#1f2532); content: ''; position: absolute; right: 0; width: 13px; height: 13px; }
    }
  }
  &-sorter {
    @include sort-amount-desc-icon(#1f2532); background-color: #f8f8f8; background-size: 13px; display: inline-block; vertical-align: middle; margin-left: 19px; width: 35px; height: 30px; border-radius: 3px; border: solid 1px #e0e0e0; cursor: pointer;
    &:hover { background-color: #ffffff; }
    &.is-sorted { @include sort-amount-desc-icon(#028dd8); background-size: 13px; border-color: #028dd8; }
    &.is-sorted-down { transform: scale(1, -1); }
  }
  &-drag-tool { width: 7px; height: 7px; cursor: crosshair; background: #028dd8; position: absolute; bottom: -1px; right: 0; }

  &-cell-preview-icon { cursor: pointer; @include eye-icon(); position: absolute; width: 16px; height: 16px; right: 8px; top: 8px; }
  &-preview {
    animation: preview-show-bottom-left .5s forwards; font-size: 12px; transform: translateY(4px); box-shadow: 0 0 9px 0 rgba(59, 61, 77, .52); position: relative; top: 100%; background: #fff; left: -30px; z-index: 1;
    &:after { content: ''; position: absolute; top: -6px; left: 32px; width: 0; height: 0; border-style: solid; border-width: 0 6px 6px; border-color: transparent transparent #fff; }
    &:before { content: ''; position: absolute; top: -9px; left: 30px; width: 0; height: 0; border-style: solid; border-width: 0 8px 8px; border-color: transparent transparent rgb(221, 221, 224); }
    #{$root} {
      &-path-text {
        white-space: normal; display: inline; padding: 0; max-width: none; line-height: 1.5;
        &.is-path-arrow {
          margin: 0 4px; width: 12px; height: 18px; display: inline-block;
          &:after { top: 4px; }
        }
      }
    }
  }
  &-preview-body { overflow: auto; max-width: 100%; max-height: 400px; padding: 25px 30px; max-width: 560px; box-sizing: border-box; }
  &-loader { @include spin-loader-icon(); width: 14px; height: 14px; position: absolute; right: 5px; top: 5px;}
}

.rc-dropdown-placement-topLeft {
  .e-table-preview {
    top: -8px; animation: preview-show-top-left .5s forwards;
    &:after { top: 100%; border-width: 6px 6px 0; border-color: #fff transparent transparent; }
    &:before { top: 100%; border-width: 8px 8px 0; border-color: rgb(221, 221, 224) transparent transparent; }
  }
}

.rc-dropdown-placement-bottomRight {
  .e-table-preview {
    left: 8px; animation: preview-show-bottom-right .5s forwards;
    &:after { left: auto; right: 9px; }
    &:before { left: auto; right: 7px; }
  }
}

.rc-dropdown-placement-topRight {
  .e-table-preview {
    left: 8px; top: -8px; animation: preview-show-top-right .5s forwards;
    &:after { left: auto; right: 9px; top: 100%; border-width: 6px 6px 0; border-color: #fff transparent transparent; }
    &:before { left: auto; right: 7px; top: 100%; border-width: 8px 8px 0; border-color: rgb(221, 221, 224) transparent transparent; }
  }
}

@keyframes preview-show-bottom-left {
  from { opacity: 0; transform: translateX(-10px) translateY(14px); }
  to { opacity: 1; transform: translateX(0) translateY(4px);}
}

@keyframes preview-show-top-left {
  from { opacity: 0; transform: translateX(-10px) translateY(-10px); }
  to { opacity: 1; transform: translateX(0) translateY(4px);}
}

@keyframes preview-show-bottom-right {
  from { opacity: 0; transform: translateX(10px) translateY(14px); }
  to { opacity: 1; transform: translateX(0) translateY(4px);}
}

@keyframes preview-show-top-right {
  from { opacity: 0; transform: translateX(10px) translateY(-10px); }
  to { opacity: 1; transform: translateX(0) translateY(4px);}
}

@media (min-height: 768px) {
  .e-table {
    &-tr { height: 60px; }
    &-cell {
      padding: 20px; height: 100px;
      &.is-check { padding: 20px 14px 20px 30px; }
    }
    &-body { height: calc(100% - 60px); }
  }
}
