.e-button {
  box-sizing: border-box; line-height: 1.42857143; border-radius: 3px; background-color: #028dd8; display: inline-block; color:  #ffffff; cursor: pointer; padding: 6px 20px; white-space: nowrap; border: 1px solid transparent; font-style: inherit; font-size: 12px; text-align: center;
  &:hover { background-color: #00a6ff; }
  &:disabled {
    opacity: 0.6; cursor: not-allowed;
    &:hover { background-color: #028dd8; }
  }
}
