@import '../styles/mixins/index';

.e-scroller {
  & * { box-sizing: border-box; }
  &-root { display: flex; align-items: center; }
  &-element { margin-right: 10px; white-space: nowrap; display: inline-block; }
  &-wrapper {
    width: 200px; flex-grow: 7; position: relative; overflow: hidden;
    &.is-overflow {
      &:after,
      &:before { content: ''; position: absolute; top: 0; height: 100%; width: 80px; max-width: 100%; }
      &:after { right: 0; background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); }
      &:before { left: 0; background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)); z-index: 5; }
      &.is-first-position:after { display: none; }
      &.is-last-position:before { display: none; }
    }
  }
  &-container { white-space: nowrap; position: relative; transition: all 0.4s ease-out; }
  &-button-box { margin-left:auto; white-space: nowrap; }
  &-button {
    @include button; padding: 0; text-align: center; width: 32px; height: 32px; background-color: #fff; border: solid 1px #e0e0e0; margin-left: 10px; text-align: center; transition: all 0.2s ease-in;
    &:hover { border-color: #1f2532; }
    &.is-next:after,
    &.is-back:after { content: ''; margin-left: 10px; display: block; width: 0; height: 0; border-style: solid; transition: all 0.2s ease-in; }
    &.is-next {
      &:after { border-width: 5px 0 5px 10px; border-color: transparent transparent transparent #e0e0e0; }
      &:hover:after { border-color: transparent transparent transparent #1f2532; }
    }
    &.is-back {
      &:after { border-width: 5px 10px 5px 0; border-color: transparent #e0e0e0 transparent transparent; }
      &:hover:after { border-color: transparent #1f2532 transparent transparent; }
    }
    &:disabled { opacity: 0.7 !important; }
    &:active {
      background-color: #1f2532; border-color: #1f2532;
      &.is-next:after { border-color: transparent transparent transparent #fff; }
      &.is-back:after { border-color: transparent #fff transparent transparent; }
    }
  }
}
