.e-toggler {
  width: 80px; height: 30px; border-radius: 15.4px; background-image: linear-gradient(to right, #e0e0e0, #eee), linear-gradient(#fff, #fff); box-shadow: inset 0px 1px 4px 0 rgba(44, 44, 44, 0.31); cursor: pointer; position: relative;
  &:before { content: ''; display: block; width: 56px; height: 8px; background-image: linear-gradient(to right, #e93161, #e3b61c), linear-gradient(#fff, #fff); box-shadow: 0 2px 1px 0 #fff, inset 0 2px 2px 0 rgba(31, 37, 50, 0.48); position: absolute; top: 50%; left: 10px; margin-top: -5px; border-radius: 6px; }
  &:after { content: ''; display: block; width: 18px; height: 18px; background-image: linear-gradient(to right, #fff, #eee), linear-gradient(#fff, #fff); box-shadow: 0 4px 4px 0 rgba(31, 37, 50, 0.15), inset 0 1px 0 0 #fff; border-radius: 10px; position: absolute; top: 50%; margin-top: -9px; left: 8px; transition: all 0.2s;
  }
  &.is-on {
    &:after { left: 52px; }
  }
}
