@import '../styles/mixins/icons';

.e-select {
  .rc-select-selection { border-radius: 0; background: #fff; border: solid 1px #e0e0e0; font-size: 12px; }
  .rc-select-arrow b { @include angle-down-icon(#1f2532); border: none; width: 12px; height: 12px; margin-top: -6px; margin-left: -6px; }
  .rc-select-enabled .rc-select-selection:hover { border-color: #00a6ff; box-shadow: none; }
}
.e-select-drop-down {
  border-radius: 0; font-size: 12px; background-color: #fff; box-shadow: 0 0 9px 0 rgba(59, 61, 77, 0.52);
  .rc-select-dropdown-menu-item {
    color: #1f2532;
    &-active { background: #f2f2f2; }
  }
  .rc-select-dropdown-menu { max-height: 300px; overflow: auto; }


}
